.note {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
    color: #4a4a4a;
    padding: 1.25rem;
    margin: 0.75rem;
    width: 18rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    text-align: left;
}

p.title {
    margin-top: 0;
    font-size: calc(16px + 1vmin);
    font-weight: bold;
}

button {
    width: 45px;
    align-self: flex-end;
}